---
import Layout from '@layouts/Layout.astro'
---
<Layout title='Página no encontrada'>
    <div class="flex items-center justify-center">
        <p class="italic text-wrap text-bold font-sans text-justify text-sm md:text-3xl/loose text-black">Error esta página no existe</p>
    </div>
</Layout>