---
import Layout from "../layouts/Layout.astro";
import Services from "../components/services.astro";
import About from "../components/about.astro";
import SectionContainer from "@components/SectionContainer.astro";
import Slider from "../components/Slider.astro";
import Footer from "../components/Footer";

const english: any = {
  title: "Welcome to Migrate Solutions",
  descriptionOne:
    "Your trusted partner in software innovation. We specialize in seamlessly migrating businesses from legacy technologies to cutting-edge solutions",
  descriptionTwo:
    "Our mission is to alleviate the challenges of team building by offering comprehensive services that include talent acquisition,team formation, and project development. Explore how we transform ideas into reality, ensuring your software journey is both stress-free and tailored to meet your unique business needs.",
};
const spanish: any = {
  title: "Bienvenido a Migrate Solutions",
  descriptionOne:
    "Tu socio de confianza en innovación de software. Nos especializamos en migrar sin problemas las empresas de tecnologías heredadas a soluciones de vanguardia.",
  descriptionTwo:
    "Nuestra misión es aliviar los desafíos de la formación de equipos ofreciendo servicios integrales que incluyen adquisición de talento, formación de equipos y desarrollo de proyectos. Explora cómo transformamos ideas en realidad, asegurando que tu viaje de software sea libre de estrés y adaptado a las necesidades únicas de tu negocio.",
  text: "Algunos de nuestros clientes",
};
---

<Layout title="Migrate Solutions" description="web development">
  <div>
    <SectionContainer id="Home">
      <div class="contentHome">
        <div class="divTextBg">
          <h1>{english.title}</h1>
          <p>
            {english.descriptionOne}
          </p>
          <p>
            {english.descriptionTwo}
          </p>
        </div>
      </div>
    </SectionContainer>
    <div class="p-4"></div>
    <SectionContainer id="About">
      <About />
    </SectionContainer>
    <div class="p-4"></div>
    <!-- <SectionContainer id="Services">
      <Services />
    </SectionContainer> -->
    <div class="p-4"></div>
    <Slider />
    <div class="p-4"></div>
    <!-- <footer>
      <Footer client:load />
    </footer> -->
  </div>
</Layout>

<style>
  h1 {
    font-size: 320%;
    font: bold;
    text-align: center;
    text-shadow:
      2px 2px 4px rgba(0, 0, 0, 0.5),
      -1px -1px 2px rgba(255, 255, 255, 0.5);
  }
  .contentHome {
    margin: 0%;
    margin-top: -10%;
    padding: 5%;
    background-image: url("/images/busines/business-1600px.jpg");
    background-size: cover;
    background-position: center;
    padding: 5%;
    height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .divTextBg {
    margin: 0%;
    margin-top: 5%;
    padding: 5%;
    background-color: rgba(0, 55, 95, 0.7);
    border-radius: 20px;
  }

  @media (max-width: 560px) {
    .contentHome {
      background-image: url("/images/busines/business-800px.jpg");
    }
  }
</style>
