---
import Briefcase from "./icons/Briefcase.astro";
import CaretRight from "./icons/CaretRight.astro";
import { experiencia } from "../../experiencia.json";

const expJob = experiencia;
---

<section id="experiencia" class="pt-16">
  <div class="flex items-center gap-x-4 pb-4">
    <Briefcase class="size-8" />
    <h2 class="text-3xl font-bold">Experiencia laboral</h2>
  </div>
  <div class="sm:pl-12">
    {
      expJob.map((exp, index) => (
        <div class="m-5">
          <h3 class="text-xl font-bold text-center sm:text-left">
            {exp.empresa}
          </h3>
          <h5 class="text-xl opacity-80 text-center sm:text-left">
            {exp.periodo}
          </h5>
          <h5 class="text-xl opacity-80 text-center sm:text-left">
            {exp.rol}
          </h5>
          <ul>
            {exp.responsabilidades.map((item, i) => (
              <li class="text-sm opacity-50 italic text-center sm:text-left">{item}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
