<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-4">
    <nav class="flex flex-row gap-x-4 sm:gap-x-10 opacity-80 text-sm sm:text-lg sm:font-bold px-3 bg-gray-800 rounded-3xl">
        <a href="/#experiencia"
        class="relative block sm:px-1 sm:py-1 transition hover:text-sky-500 dark:hover:text-sky-300"
        >Experiencia</a>
        <a href="/#proyectos"
        class="relative block sm:px-1 sm:py-1 transition hover:text-sky-500 dark:hover:text-sky-300"
        >Proyectos</a>
        <a href="/#sobre-mi"
        class="relative block sm:px-1 sm:py-1 transition hover:text-sky-500 dark:hover:text-sky-300"
        >Sobre mí</a>
        <a href="/#contacto"
        class="relative block sm:px-1 sm:py-1 transition hover:text-sky-500 dark:hover:text-sky-300"
        >Contacto</a>
    </nav>
</header>